#rack_photo {
    width: 12rem;
    height: 35rem;
}

#sendForm {
    display: flex;
    flex-direction: column;
}

#submitButton {
    margin-top: 2rem;
}

input {
    border: none;
}

input:focus {
    border: none;
    outline: none;
}