.container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}

.column {
    float: left;
    width: 33.33%;
    padding: 2rem;
}

/* Clear floats after the columns */
.container:after {
    content: "";
    display: table;
    clear: both;
}


/*! RACK */
.rackContainer {
    margin: 8rem 2rem 2rem 2rem;
}


/*! OUTPUT */



/*! OPTIONS */
.active {
    background-color: aliceblue;
}


/*! SEND BUTTON */
#sendOpenButton {
    margin-top: 24rem;
    margin-left: 4rem;
}

#sendButtonDialog {
    padding: 4%;
    border: none;
}

#dialogButtonDiv {
    display: flex;
}

#sendForm {
    cursor: none;
}

input {
    display: block;
    margin-top: 1rem;
}

.no-border {
    width: 20rem;
    border: none;
    outline: none;
}

#sendCloseButton {
    margin: 1rem;
    margin-left: 25%;
}

#closeButton {
    margin: 1rem;
}