.height-750 {
    height: 750px;
}

.max-height-750-scrollbar {
    max-height: 750px;
    overflow-y: scroll;
}


#rack_photo {
    padding-top: 20%;
    width: 12rem;
    height: 35rem;
}


.output-field {
    padding-top: 20%;
}

h4 {
    margin-bottom: 1%;
}

input {
    border: none;
}

input:focus {
    border: none;
    outline: none;
}

.text-align-right {
    text-align: right;
}


#sendForm {
    display: flex;
    flex-direction: column;
}

#submitButton {
    margin-top: 1rem;
}